@{
    ViewData["Title"] = "Home Page";
}
<body>

    <div id="wrapper">
        <div id="content">
            <div id="menu">
                <h2>ETP</h2>
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="menu2">company_list.php</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="menu">procedures.php</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="menu3">company.php</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="menu4">protocols_list.php</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="menu5">protocols.php</a></li>
                </ul>

                <h2>Go To... </h2>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Active</a></li>
                    <li><a href="">Link 3</a></li>
                    <li><a href="">Link 4</a></li>
                    <li><a href="">Link 5</a></li>
                </ul>
            </div>

            <div id="maincontent">
                <p><b>Вывод списка закупок, в которых были произведены обновления за последние n дней</b></p>


                Параметры запроса (включаются в адресную строку):
                <ul>
                    <li>late – задается период времени;</li>
                </ul>

                Пример:
                <div class="gray">
                    Есть запрос  https://etp.gpb.ru/api/company_list.php?late=1
                </div>
                который отправляет данные о периоде времени(в днях), а в ответ получает список закупок всех заказчиков. Ответ будет отправлен в формате XML.

                Список полей в xml документе:
                <ul>
                    <li>id Идентификатор организации;</li>
                    <li>inn ИНН организации;</li>
                    <li>cpp КПП организации;</li>
                    <li>date_accept Дата принятия аккредитации в системе.;</li>
                </ul>

                <div class="text-center"><input type="submit" value="Попробовать Пример" onclick="location.href='@Url.Action("GetApiMenu2", "api")'" /></div>
                <p></p>
            </div>
        </div>
    </div>
</body>

