@{
    ViewData["Title"] = "Home Page";
}

    <form method="post" action="~/Home/SandBoxGet">
        <label>Высота:</label><br />
        <input type="text" name="height" /><br />
        <label>Основание:</label><br />
        <input type="text" name="altitude" /><br />
        <input type="submit" value="Отправить" />
    </form>